
/*mainpage.css*/
.fstpic{
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 20px;
    height:15cm;
    width: 1300px;
}
.see{
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    font-family:cursive;
    color:darkgrey;
}
.alert-button{
    
        background-color: #f44336; /* Red background color */
        color: white; /* White text color */
        cursor: pointer;
        margin-left: 650px;
        height: 40px;
        width:200px;
        border-radius: 60px;
    
}